<%= render 'shared/second_header' %>

<%= form_with model: @posing, class: 'form', local: true do |f| %>
  <div class="form_wrapper">
    <div class="form_header">
      ポージングの情報を編集
    </div>

    <%= render 'shared/error_messages', model: f.object %>
    
    <div class="form_main">
      <div class="form_group">
        <%= f.label :image, 'ポージング画像(必須)' %><br />
        <%= f.file_field :image, class: 'file_field'%>
      </div>
      <div class="form_group">
        <%= f.label :group_id, '団体(必須)' %><br />
        <%= f.collection_select(:group_id, Group.all, :id, :name, {}, {class: 'input_field'}) %>
      </div>
      <div class="form_group">
        <%= f.label :category_id, 'カテゴリー(必須)' %><br />
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: 'input_field'}) %>
      </div>
      <div class="form_group">
        <%= f.label :type_id, 'ポーズの種類(必須)' %><br />
        <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class: 'input_field'}) %>
      </div>
      <div class="form_group">
        <%= f.label :body_weight, '撮影時体重kg(任意)' %><br />
        <%= f.text_field :body_weight, class: 'input_field', placeholder: '例)77.7' %>
      </div>
      <div class="form_group">
        <%= f.label :remarks, '備考(任意)' %><br />
        <%= f.text_area :remarks, class: 'input_area', placeholder: '自由に記述' %>
      </div>
    </div>

    <div class="form_footer">
      <%= f.submit '編集する', class: 'form_submit' %><br />
      <div class="return_btn">
        <%= link_to '戻る',  posing_path(@posing) %>
      </div>
    </div>
  </div>
  
<% end %>

<%= render 'shared/second_footer' %>