<%= render 'shared/first_header' %>

<div class="posing_index_main">
  <div class="current_user_name_area">
    <div class="current_user_name">
      <% if user_signed_in? %>
        ようこそ <a href="#"><%= current_user.nickname %></a> さん
      <% else %>
        未ログイン状態です
      <% end %>
    </div>
  </div>
  <div class="app_explanation">
    <%= image_tag "posing.jpeg", class: "explanation_image" %>
    <div class="app_explanation_items">
      <div class="app_explanation_title">
        Best Poseとは・・・
      </div>
      <p class="app_explanation_text">
        ボディメイクの大会に出場してみたいが<br>
        ポージングの取り方がわからない<br>
        ポージングが不安であるそんなあなたのために<br>
        ポージング画像を投稿し、<br>
        フィードバックしてもらうアプリです。
      </p>
    </div>
  </div>

  <div class="posing_area">
    <div class="posing_area_title">
      ポージング一覧
    </div>
    <div class="posing_items">
    <% @posings.each do |posing| %>
      <div class="posing_item">
        <div class="poster_name">
          <a href="#"><%= posing.user.nickname %></a>さんのポージング
        </div>
        <%= image_tag posing.image, class: "posing_image"%>
        <div class="contest_group">
          出場団体： <%= posing.group.name %>
        </div>
        <div class="contest_category">
          カテゴリー： <%= posing.category.name %>
        </div>
        <div class="posing_type">
          ポーズの種類： <%= posing.type.name %>
        </div>
        <div class="show_btn">
          <%= link_to '詳細へ', posing_path(posing) %>
        </div>
      </div>
    <% end %>
    </div>

  </div>

</div>

<%= render 'shared/first_footer' %>